<div class="row">
    <h1>{{title}}</h1>
    <div>   
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Children</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ catDetails.id  }} </td>
                    <td>{{ catDetails.name  }} </td>
                    <td>{{ catDetails.children  }} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>